<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acquisition plan</title>
    <style>
    body {font-family:verdana;}
    td {text-align: center;}
    </style>
</head>
<body>

{% if future_acquisitions %}
    <table style="width: 90%; max-width: 1000px">
        <tr>
            <th>
                Satellite
            </th>
            <th>
                Name
            </th>
            <th>
                Acquisition Start
            </th>
            <th>
                Acquisition End
            </th>
        </tr>
        <tr>
            <td colspan="4" style="padding-top:10px; padding-bottom:10px;">
                <b>Future Acquisitions</b>
            </td>
        </tr>
        {% for acquisition in future_acquisitions %}
            <tr>
                <td>
                    {{ acquisition.satellite }}
                </td>
                <td>
                    {{ acquisition.name }}
                </td>
                <td>
                    {{ acquisition.observation_time_start|date:'Y-m-d H:i' }}
                </td>
                <td>
                    {{ acquisition.observation_time_stop|date:'Y-m-d H:i' }}
                </td>
            </tr>
        {% endfor %}
        <tr style="color: lightgrey">
            <td colspan="4" style="padding-top:20px; padding-bottom:20px;">
                <b>Past Acquisitions</b>
            </td>
        </tr>
        {% for acquisition in past_acquisitions %}
            <tr style="font-style: italic; color: lightgrey">
                <td>
                    {{ acquisition.satellite }}
                </td>
                <td>
                    {{ acquisition.name }}
                </td>
                <td>
                    {{ acquisition.observation_time_start|date:'Y-m-d H:i' }}
                </td>
                <td>
                    {{ acquisition.observation_time_stop|date:'Y-m-d H:i' }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No acquisition data is available.</p>
{% endif %}

</body>
</html>