<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acquisition plan</title>
    <style>
    body {font-family:verdana;}
    td {text-align: center;}
    </style>
</head>
<body>

{% if acquisition_list %}
    <table style="width: 90%; max-width: 1000px">
        <tr>
            <th>
                Satellite
            </th>
            <th>
                Name
            </th>
            <th>
                Acquisition Start
            </th>
            <th>
                Acquisition End
            </th>
        </tr>
    {% for acquisition in acquisition_list %}
        <tr>
            <td>
                {{ acquisition.satellite }}
            </td>
            <td>
                {{ acquisition.name }}
            </td>
            <td>
                {{ acquisition.observation_time_start|date:'Y-m-d H:i' }}
            </td>
            <td>
                {{ acquisition.observation_time_stop|date:'Y-m-d H:i' }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No acquisition data is available.</p>
{% endif %}

</body>
</html>