<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentinel 2 image loader</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>

<form action="">
    <table>
        <tr>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Max cloud coverage</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="text" name="lat" value="50.12125"> </td>
            <td><input type="text" name="lon" value="14.296335"> </td>
            <td><input type="text" name="cloud_cover" value="10"> </td>
            <td><input type="button" name="Button" Value="Get latest" onClick="testResults(this.form)"> </td>
        </tr>
    </table>

    <img src="" id="myImg">

    <div id="download_button"></div>
    <div id="download_status"></div>
</form>

<script language="JavaScript">

var lat = undefined;
var lon = undefined;
var cloudCover = undefined;

function download(){
    $.get('download_latest', {'lat': lat, 'lon': lon, 'cloud_cover':cloudCover})
    setInterval(update_status, 100)
}

function double_to_percent(value){
    return (value*100.0).toFixed(2) + "%"
}

function update_status(){
    $.get('download_status', function(data, status){
        status = document.getElementById("download_button")

        status.innerHTML = double_to_percent(data)
    });
}

function testResults (form) {
    lat = form.lat.value;
    lon = form.lon.value;
    cloudCover = form.cloud_cover.value;

    $('#myImg').attr('src', 'quicklook?lat='+lat+'&lon='+lon+'&cloud_cover='+cloudCover);

    download_div = document.getElementById("download_button")

    download_div.innerHTML = '<input type="button" value="download full set"' +
            ' onclick="download()"/>';
}
</script>

</body>
</html>