<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lithopia Server Home</title>
    <style>
    body {font-family:verdana;}
    </style>
</head>
<body>
    <h1>
        Lithopia Server
    </h1>
    <table width="100%">
        <tr>
            <td width="20%">
                <a href="/admin">Admin</a>
            </td>
            <td width="20%">
                <a href="/settings">Settings</a>
            </td>
            <td width="20%">
                <a href="/summary">Summary</a>
            </td>
            <td width="20%">
                <a href="#">Acquisition</a>
            </td>
            <td width="20%">
                <a href="/sentinel_credentials">Set Copernicus credentials</a>
            </td>
        </tr>
    </table>
    <br><br>
    <p>
        Target location: {{ lat }}, {{ lon }}
    </p>
    <p id="next_acq">
    </p>
    <p>
        Registered {{ datasets_len }} datasets
    </p>
    <p>
        Processed {{ processed_len }}/{{ datasets_len }} datasets ({{ processed_ratio | floatformat:2 }}%)
    </p>
    <p>
        Marker detected on {{ detected_len }} images (last on: {{ detected_last_stamp }})
    </p>

    <script>
        
    </script>

</body>
</html>