<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lithopia Server Home</title>
    <style>
    body {font-family:verdana;}
    </style>
</head>
<body>
    <h1>
        Lithopia Server
    </h1>
    <table width="100%">
        <tr>
            <td width="20%">
                <a href="/admin">Admin</a>
            </td>
            <td width="20%">
                <a href="/settings">Settings</a>
            </td>
            <td width="20%">
                <a href="/summary">Summary</a>
            </td>
            <td width="20%">
                <a href="/acquisition">Acquisition</a>
            </td>
            <td width="20%">
                <a href="/sentinel_credentials">Set Copernicus credentials</a>
            </td>
        </tr>
    </table>
    <br><br>
    <p>
        <b>Target location</b>: {{ lat }}, {{ lon }}
    </p>
    <p id="next_acq">
        <b>Next acquisition</b>:
    </p>
    <p>
        <b>Latest entry</b>: <br>
        Acquisition: <span id="acquisition_stamp"></span> <br>
        Ingestion: <span id="ingestion_stamp"></span> <br>

    </p>
    <p>
        <b>Registered</b> {{ datasets_len }} datasets (last from: {{ latest_dataset_stamp }})
    </p>
    <p>
        <b>Processed</b> {{ processed_len }}/{{ datasets_len }} datasets ({{ processed_ratio | floatformat:2 }}%)
    </p>
    <p>
        <b>Marker detected</b> on {{ detected_len }} images (last on: {{ detected_last_stamp }})
    </p>

    <script>
        var earliestAcquisition = undefined;
        setInterval(function(){
            if (earliestAcquisition == undefined) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       // Typical action to be performed when the document is ready:
                       earliestAcquisition = new Date(JSON.parse(xhttp.responseText).earliest);
                    }
                };
                xhttp.open("GET", "acquisition/earliest", true);
                xhttp.send();
            } else {
                var countdownDate = earliestAcquisition.getTime();
                var now = new Date().getTime();

                var distance = countdownDate - now;

                if (distance < 0){
                    countdownDate = undefined;
                    return;
                }

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("next_acq").innerHTML =
                               "<b>Next acquisition</b>: " + earliestAcquisition.toUTCString() + " " +
                               "(in " + (days>0 ? days + "d ": "") +
                               (days>0 || hours>0 ? hours + "h ": "") +
                               (days>0 || hours>0 || minutes>0 ? minutes + "m ": "") +
                               seconds + "s)";

            }
        }, 100)

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               // Typical action to be performed when the document is ready:
               responseJson = JSON.parse(xhttp.responseText);
               acquisitionTime = new Date(responseJson.stamp_acquisition);
               ingestionTime = new Date(responseJson.stamp_ingestion);
               document.getElementById("acquisition_stamp").innerHTML = acquisitionTime.toUTCString();
               document.getElementById("ingestion_stamp").innerHTML = ingestionTime.toUTCString();
            }
        };
        xhttp.open("GET", "summary/latest_entry_stamp", true);
        xhttp.send();

    </script>

</body>
</html>