<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request history</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<p align="center" style="font-family:verdana;">
    Dataset: <b>{{ dataset_name }}</b>
</p>

<table border="0" width="100%">
    <tr>
        <td width="50%" align="center">
            <img src="get_image\{{ dataset_name }}" style="width: 90%; max-width: 500px; margin: 5%" border="1px"> <br>
            <button type="button" style="width: 10em; margin: 10px" onclick="moveBy(1)">Previous</button>
            <button type="button" style="width: 10em; margin: 10px" onclick="moveBy(-1)">Next</button>
        </td>
        <td align="center" style="font-family:verdana;">
            <p>Acquisition time: <br>
                <b>{{ acquistion_time }}</b> </p>
            <p>Time of processing: <br>
                <b>{{ processed_time }}</b> </p>
            <p>Cloud cover (for dataset): <br>
                <b>{{ cloud_cover }}</b> </p>
            Selection metrics: <br>
            <table>
                <tr>
                    <td align="right" width="50%"> Mean: </td><td align="left"><b>{{ metrics.mean|floatformat:1 }}</b></td>
                </tr>
                <tr>
                    <td align="right" width="50%"> Standard deviation: </td><td align="left"><b>{{ metrics.std|floatformat:1 }}</b></td>
                </tr>
                <tr>
                    <td align="right" width="50%"> Median: </td><td align="left"><b>{{ metrics.median|floatformat:1 }}</b></td>
                </tr>
            </table>
            <br>
            <p>
                {% if marker %}
                <b>Marker detected!</b>
                {% else %}
                    Marker not detected
                {% endif %}
            </p>

        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="font-family:verdana; padding-top: 100px" >
            Histogarm of selection: <br>
            <img src="histogram\{{ dataset_name }}" style="width: 90%; max-width: 500px; margin:5%"> <br>
        </td>
        <td align="center" valign="top" style="font-family:verdana; padding-top: 100px">
            Difference to template: <br>
            <img src="diff_image\{{ dataset_name }}" style="width: 90%; max-width: 750px; margin:5%"> <br>
        </td>
    </tr>
</table>

<script>
    var id = {{ id }}
    function moveBy(val) {
        id += val;
        console.log(id);
        if(id>=0 && id<{{dataset_len}}) {
            location.href = '/summary/'+id;
        } else {
            id -= val;
        }
    }

</script>
</body>
</html>